---
import { Image } from "astro:assets";
import AppLayout from "../layouts/AppLayout.astro";
import principlesHero from "../assets/images/principles/principles-hero.webp"
import principlesHeroMobile from "../assets/images/principles/principles-hero-mobile.webp"
import PageHeader from "../components/PageHeader.astro";

interface Principle {
    icon?: string
    label: string
    description: string
}

const principles: Principle[] = [
    {
        icon: undefined,
        label: "Cultural Preservation",
        description: "We preserve digital culture and ideas for future generations, ensuring nothing of value is ever lost."
    },
    {
        icon: undefined,
        label: "Creator Sovereignty",
        description: "Creators own their work, their narrative, and their future. We provide the tools—you hold the power."
    },
    {
        icon: undefined,
        label: "Timeless Quality",
        description: "We champion works of enduring value, curated with care, built to outlast the noise."
    },
    {
        icon: undefined,
        label: "Transparent & Fair",
        description: "Built on open systems and clear standards. No hidden agendas. No extractive practices."
    },
    {
        icon: undefined,
        label: "Global Accessibility",
        description: "Culture belongs to everyone. We break down barriers and bring opportunity to creators and collectors worldwide."
    },
    {
        icon: undefined,
        label: "Legacy First",
        description: "We think in centuries, not quarters. Every action we take is measured by the legacy it leaves behind."
    }
];
---

<AppLayout>
    <PageHeader currentPage="Principles" headline="Built on Values." subheadline="Driven by Legacy." description="Our principles are the foundation of everything we build—guiding every decision, every feature, and every creator we empower." image={principlesHero} mobileImage={principlesHeroMobile}/>

    <section class="page-padded-section">
       <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 outline md:outline-0 outline-muted-strong/25 rounded-sm gap-1 py-2 md:py-0">
        {principles.map(({label, description}, i) => (
            <article data-type="accordion" class="px-4 py-2 md:p-8 md:outline outline-muted-strong/25 md:rounded-xl">
                <input type="checkbox" id={`principle-${i}`} class="peer hidden" />
                <label
                    for={`principle-${i}`}
                    class="font-semibold lg:font-playfair flex items-center justify-between cursor-pointer md:pointer-events-none md:cursor-auto"
                >
                    <span class="md:font-bold">{label}</span>
                    <span data-type="accordion-state-indicator"
                        aria-hidden="true"
                        class="block md:hidden relative w-4 aspect-square pointer-events-none transition-transform duration-300 ease-in-out"
                    >
                        <span class="block absolute w-full h-px rounded-full bg-primary-text left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 origin-center transition-opacity duration-150 ease-in-out"></span>
                        <span class="block absolute w-full h-px rounded-full bg-primary-text left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 origin-center rotate-90"></span>
                    </span>
                </label>
                <small class="max-md:grid max-md:grid-rows-[0fr] peer-checked:grid-rows-[1fr] transition-[grid-template-rows] duration-500 ease-in-out">
                    <span class="max-md:overflow-hidden inline-block text-muted-strong text-balance md:mt-3 lg:max-w-fluid-width-xs">
                        {description}
                    </span>
                </small>
            </article>
        ))}

       </section>
    </section>
    <article class="page-padded-section md:pt-24 md:pb-12">
        <header class="flex flex-col md:flex-row page-padded-section-x md:p-0">
            <span class="inline-block w-6 md:w-14 md:-translate-y-4 md:mr-2 aspect-square self-start text-accent-vivid md:text-muted/25">
                <svg class="w-full h-full" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path fill="currentColor" d="M4.583 17.321C3.553 16.227 3 15 3 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621.537-.278 1.24-.375 1.929-.311 1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5c-1.073 0-2.099-.49-2.748-1.179zm10 0C13.553 16.227 13 15 13 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621.537-.278 1.24-.375 1.929-.311 1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5c-1.073 0-2.099-.49-2.748-1.179z"/>
                    </g>
                </svg>
            </span>
            <h2 class="font-playfair leading-none text-balance flex flex-col w-fluid-width-sm md:w-full">
                <span>
                    We're not here to chase the future.
                </span>
                <span>
                    We're here to build <span class="text-accent-vivid">what lasts</span>.
                </span>
            </h2>
        </header>
       
        <small class="block text-right italic page-padded-section max-md:pb-0 text-muted-strong uppercase leading-none"> — Legacy Manifesto</small>
    </article>
</AppLayout>

<style>

    article[data-type="accordion"]:has(input[type="checkbox"]:checked) {
        label [data-type="accordion-state-indicator"] {
            transform: rotate(90deg);

            :first-child {
                opacity: 0;
            }
        }
    }
</style>