---
import type { ImageMetadata } from "astro"
import { Image } from "astro:assets"

interface Props {
    image: ImageMetadata
    alt: string
    name: string,
    role: string,
    bio: string
    collectionCount: number,
    floorPrice: number,
    currency: string  
}

const { image, alt, name, role, bio, collectionCount, floorPrice, currency } = Astro.props
---
<div class="min-h-100 grid grid-cols-1 outline outline-muted/45 rounded-md group">
    <div class="col-start-1 col-end-2 row-start-1 relative ">
        <div class="w-full h-4/5 relative -z-10 overflow-clip">
            <Image src={image} alt={alt} class="w-full h-full object-cover absolute inset-0  pointer-events-none group-hover:scale-110 transition-[transform_filter] duration-300 ease-in-out brightness-55 group-hover:brightness-75" />
            <div class="absolute h-15 inset-x-0 bottom-0 bg-linear-360 from-30% from-base/60 to-100% to-transparent pointer-events-none"></div>
        </div>
    </div>
    <div class="col-start-1 col-end-2 row-start-1 justify-end p-4 flex flex-col gap-4">
        <article class="flex flex-col leading-snug">
            <strong>{name}</strong>
            <span class="text-accent-vivid will-change-transform font-semibold">{role}</span>
            <small class="text-muted-strong mt-2 text-balance">
                {bio}
            </small>
        </article>
        <dl class="flex justify-between pt-4 relative before:absolute before:inset-x-0 before:top-0 before:h-px before:bg-muted-strong/45">
            <div>
                <dt class="text-small">Collections</dt>
                <dd class="">{String(collectionCount)}</dd>
            </div>
            <div>
                <dt class="text-small">Floor</dt>
                <dd class="">{String(floorPrice)} {currency}</dd>
            </div>
        </dl>
    </div>
</div>