---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  currentPage: string;
  headline: string;
  subheadline: string;
  description: string;
  image: ImageMetadata;
  mobileImage: ImageMetadata;
}

const { currentPage, headline, subheadline, description, image, mobileImage} = Astro.props;
---

<header class="grid grid-cols-1 isolate relative lg:min-h-120">
    <article class="col-start-1 col-end-2 row-start-1 z-10 flex flex-col gap-4 page-padded-section w-fluid-width-md justify-center">
        <p class="text-accent-vivid uppercase">Our {currentPage}</p>
        <hgroup class="leading-none font-playfair">
            <h3 class="sm:text-subheadline">{headline}</h3>
            <h3 class="sm:text-subheadline text-accent-vivid">{subheadline}</h3>
        </hgroup>
        <p class="text-muted-strong text-balance w-fluid-width-sm">{description}</p>
    </article>
    <div class="col-start-1 col-end-2 row-start-1 relative overflow-clip">

        <Image src={mobileImage}
            alt="" 
            format="webp" 
            quality={'max'} 
            width={mobileImage.width} 
            loading={"eager"} fetchpriority={"high"}
            class="w-full max-h-85 object-cover object-[center_20%] contrast-100 brightness-40 lg:hidden"
        />

        <Image src={image}
            alt="" 
            format="webp" 
            quality={'max'} 
            width={image.width} 
            loading={"eager"} fetchpriority={"high"}
            class="w-full h-full object-cover object-top contrast-100 brightness-70 hidden absolute inset-0 lg:block"
        />
    </div>

    <!-- Vignette Effect -->
    <div class="absolute inset-0">
        <!-- LEFT FADE -->
        <div class="absolute w-12 md:w-1/2 inset-y-0 left-0 bg-linear-90 from-0% from-base"></div>
        <!-- RIGHT FADE -->
        <div class="absolute w-12 inset-y-0 right-0 -bg-linear-90 from-0% from-base"></div>
        <!-- BOTTOM FADE -->
        <div class="absolute inset-x-0 bottom-0 h-24 bg-linear-360 from-0% from-base via-50% via-base/50 to-90% to-transparent"></div>
        <!-- TOP FADE -->
        <div class="absolute inset-x-0 top-0 h-24 bg-linear-180 from-0% from-base via-30% via-base/15 to-40% to-transparent"></div>
    </div>
    <div class="absolute inset-0 pointer-events-none"
     style="background: radial-gradient(ellipse at center, transparent 40%, var(--color-base) 90%);">
    </div>
</header>

